reports/rk_wxeda.asm.rpt
reports/rk_wxeda.done
reports/rk_wxeda.fit.rpt
reports/rk_wxeda.fit.smsg
reports/rk_wxeda.fit.summary
reports/rk_wxeda.flow.rpt
reports/rk_wxeda.jdi
reports/rk_wxeda.map.rpt
reports/rk_wxeda.map.smsg
reports/rk_wxeda.map.summary
reports/rk_wxeda.pin
#reports/rk_wxeda.sof
reports/rk_wxeda.sta.rpt
reports/rk_wxeda.sta.summary
db
db/*
greybox_tmp
greybox_tmp/*
incremental_db
incrementa_db/*
reports/rk_wxeda.map
reports/rk_wxeda.qws
